@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');


* {
    margin: 0;
    padding: 0;
    font-family: 'Poppins', sans-serif;
}

/* body {
    display: flex;
    flex-direction: row;
} */

.foldercreationsection{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    padding: 1.5%;
    border: 0px solid #000000;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    width: 15%;
    height: 10%;
    z-index: 1;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(184, 0, 0, 0.75);
}

#folder-field {
    padding: 1%;
    width: 100%;
    margin-bottom: 5%;
    box-sizing: border-box;
    display: flex;
    text-align: center;
    border-radius: 5px;
    border: 0px solid black;
}

.foldercreationsection .buttonClass {
    width: 100%;
    padding: 1%;
    box-sizing: border-box;
    
}

.container {
    height: 100vh;
    width: 100%;
    position: relative;
    display: flex;
    flex-direction: row;
}

.leftsection {
    height: 100vh;
    width: 15%;
    /* background-color: red; */
    background-color: #f8fafd;
    
}

.leftsectionupper {
    display: flex;
    height: 10%;
    /* background-color: white; */
    justify-content: center;
    text-align: center;
    align-items: center;
}

.leftsectionupper img {
    width: 25%;
    height: auto;
    object-fit: contain;
    margin-right: 3%;
    margin-left: -5%;
}

.leftsection .options {
    display: flex;
    flex-direction: column;
    height: 90%;
    /* background-color: aquamarine; */
}

.options button {
    border: 0px solid black;
}

.options .add {
    /* background-color: blue; */
    height: 10%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.add button {
    background-color: rgb(252, 40, 40);
    color:white;
    border-radius: 10px;
    width: 60%;
    height: 40%;
}

.upload-buttons {
    height: 15%;
    width: 10%;
    background-color: white;
    display: none;
    flex-direction: column;
    position: absolute;
    top: 15.5%;
    left:8%;
    z-index: 2;
    padding: 0.5%;
    border-radius: 10px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.6);
}


.buttonClass {
    width: 98%;
    height: 50%;
    background-color: white;
    border: 0px solid black;
}

.buttonClass:hover {
    color: red;
}

.buttonClass {
    height: 25px;
}

.options .optionfolders {
    /* background-color: yellow; */
    height: 55%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.optionfolders a {
    background-color: rgba(255, 255, 255, 0);
    width: 60%;
    height: 10%;
    text-decoration: none;
    color: #000000;
}

.optionfolders a:hover, .optionaccount a:hover{
    color: red;
}

.options .optionaccount {
    /* background-color: aliceblue; */
    height: 20%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.optionaccount a {
    background-color: rgba(255, 255, 255, 0);
    width: 60%;
    height: 25%;
    text-decoration: none;
    color: #000000;
}

.leftsectionupper h2 {
    font-size: 20px;
    color: red;
    margin-left: 3%;
}

.rightsection {
    height: 100vh;
    width: 85%;
    /* background-color: blue; */
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    background-color: #f8fafd;
}

.upperrightsection {
    height: 10%;
    /* background-color: yellow; */
}

/* .drivesection {
    height: 90%;
    background-color: cyan;
} */

.download-section {
    height: 90%;
    background-color: white;
    position: relative;
    /* background-color: red; */
    /* background-color: aliceblue; */
    padding: 2%;
    padding-bottom: 3%;
    overflow-y: auto;
    border-radius: 20px 0 0 0 ;
}

header {
    height: 10.9%;
    width:  100%;
}

.listdirxfile {
    text-decoration: none;
    list-style: none;
    /* color: red; */
}


.rename-section-folder, .rename-section-file {
    position: absolute;
    top: 42.8%;
    left: 39.7%;
    transform: translate(-42.83%, -39.7%);
    background-color: #fff;
    padding: 1.5%;
    border: 0px solid #000000;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    width: 18%;
    height: 12%;
    z-index: 1;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(184, 0, 0, 0.75);
}

#new-name-folder, #new-name-file {
    padding: 1%;
    width: 100%;
    margin-bottom: 5%;
    box-sizing: border-box;
    display: flex;
    border-radius: 5px;
    border: 0px solid black;
}

.filefolderheader {
    display: flex;
    justify-content: space-between;
}

.filefolderheader form button {
    background-color: #e9eef6;
    border: 0px solid black;
}

.filefolderheader form button:hover {
    color: red;
}

.rename-section-folder .buttonClassrename, .rename-section-file .buttonClassrename {
    width: 50%;
    padding: 1%;
    box-sizing: border-box;
    margin-left: 50%;
}


.files-folders-folders {
    display: flex;
    /* background-color: aqua; */
}

.filesfolders {
    width: 100%;
    height: 100%;
    /* background-color: blue; */
}

.listfilename {
    padding: 0.4%;
    /* background-color: beige; */
    width: 40%;
}

.items {
    border-bottom: 1px solid #bdc1c6;
}

.listfilename i{
    color: black;
    margin: 0 2%;
    font-size: 20px;
}


.listfilefunctions {
    /* background-color: beige; */
    /* background-color: blue; */
    width: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.listfilefunctions1 {
    /* background-color: beige; */
    /* background-color: blue; */
    width: 12%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.listfilefunctions2 {
    /* background-color: beige; */
    /* background-color: blue; */
    width: 21%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.listfilefunctions button i {
    margin-right: 8%;
    margin-top: 3%;
}

.listfilefunctions1 button i, .listfilefunctions2 button i {
    margin-right: 8%;
    margin-top: 3%;
}


.listfilefunctions a {
    width: 100%;
    font-size: 14px;
    text-decoration: none;
    color: black;
    display: flex;
    text-align: center;
    justify-content: center;
}

.listfilefunctions1 a, .listfilefunctions2 a {
    width: 100%;
    font-size: 14px;
    text-decoration: none;
    color: black;
    display: flex;
    text-align: center;
    justify-content: center;
}

.listfilefunctions a:hover, .listfilefunctions button:hover {
    color: red;
}

.listfilefunctions1 a:hover, .listfilefunctions1 button:hover, .listfilefunctions2 a:hover, .listfilefunctions2 button:hover {
    color: red;
}

.listfilefunctions a i {
    margin-right: 6%;
    margin-top: 2.5%;
}

.listfilefunctions1 a i, .listfilefunctions2 a i {
    margin-right: 6%;
    margin-top: 2.5%;
}

.listfilefunctions button {
    width: 80%;
    background-color: rgba(255, 255, 255, 0);
    border: 0px solid black;
    display: flex;
    justify-content: center;
}

.listfilefunctions1 button, .listfilefunctions2 button {
    width: 80%;
    background-color: rgba(255, 255, 255, 0);
    border: 0px solid black;
    display: flex;
    justify-content: center;
}

.listfilefunctions form {
    width: 100%;
    display: flex;
    justify-content: center;
}



.listfilefunctions1 form, .listfilefunctions2 form{
    width: 100%;
    display: flex;
    justify-content: center;
}

.listfilefunctions #download-file-form {
    display: flex;
    justify-content: center;
    align-items: center;
}


/* .files-folders-folders button {
    border: black;
    background-color: rgba(255, 255, 255, 0);
} */



.share-file-section {
    position: absolute;
    top: 42.8%;
    left: 39.7%;
    transform: translate(-42.83%, -39.7%);
    background-color: #fff;
    padding: 1.5%;
    border: 0px solid #000000;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    width: 18%;
    height: 12%;
    z-index: 1;
    display: none;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(184, 0, 0, 0.75);
    /* background-color: blue; */
}

#share-email {
    padding: 1%;
    width: 100%;
    margin-bottom: 5%;
    box-sizing: border-box;
    display: flex;
    border-radius: 5px;
    border: 0px solid black;
}

.buttonClassShare {
    width: 50%;
    padding: 1%;
    box-sizing: border-box;
    margin-left: 50%;
    /* color: blue; */
    /* background-color: yellow; */
}

.searchsection {
    width: 100%;
    height: 100%;
    /* background-color: cyan; */
    /* display: flex;
    justify-content: center;
    align-items: center; */
    display: flex;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
    background-color: #f8fafd;
}

.searchsection form {
    width: 100%;
    display: flex;
    /* background-color: yellow; */
    box-sizing: border-box;
    width: 70%;
    height: 65%;
}

.searchsection-profile {
    height: 100%;
    width: 30%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.searchsection-profile form {
    height: 65%;
    width: 100% ;
    display: flex;
    justify-content: flex-end;
    padding-right: 8%;
    align-items: center;
}

.searchsection .searchinput {
    padding: 1%;
    width: 60%;
    border-radius: 15px;
    border: 0px solid black;
    /* height: 50%; */
    /* background-color: red; */
    margin: 0 1%;
    background-color: #e9eef6;
}

.searchsection button {
    /* background-color: red; */
    padding: 0.5%;
    height: 80%;
    width: 4.3%;
    /* background-color: blue; */
    margin-top: 0.5%;
    border-radius: 50px;
    font-size: 18px;
    border: 0px solid black;
    background-color: #e9eef6;
}

.searchsection-profile button {
    width: 20%;
}

.searchsection-profile form button {
    font-size: 16px;
}




.error-section {
    position: absolute;
    top: 50%;
    left: 41.2%;
    transform: translate(-50%, -41.2%);
    background-color: #fff;
    padding: 1.5%;
    border: 0px solid #000000;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.8);
    width: 22%;
    height: 18%;
    z-index: 9999;
    display: block;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: rgba(184, 0, 0, 0.85);
    /* background-color: blue; */
    
}

.message {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
}

.message .buttonClass {
    width: 50%;
    margin-top: 2%;
    padding: 1%;
    box-sizing: border-box;
    /* color: blue; */
    /* background-color: yellow; */
}