{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'login2.css' %}">
    <title>BatStateU | Login</title>
</head>
<body>
    <div class="wrapper">
        

        <div class='center-form'>
            <nav class="nav">
                <div class="nav-logo">
                    <img src={% static 'logo.jpg' %} alt="logo">
                    <p> BatStateU-Alangilan</p>
                </div>
            </nav>
            <div class="form-box">
                <div class="login-container" id="login">
                    <div class="top">
                        <header id="admin-header">Administrator Login</header>
                    </div>
                    <form action="{% url 'adminlogin' %}" method="POST">
                        {% csrf_token %}
                        <div class="input-box">
                            <input type="text" class="input-field" placeholder="Username" name="username">
                            <i class="bx bx-user"></i>
                        </div>
                        <div class="input-box">
                            <input id="password" type="password" class="input-field" placeholder="Password" name="password">
                            <i class="bx bx-lock-alt"></i>
                            <span class="toggle-password2" onclick="togglePasswordVisibility()">Show</span>
                        </div>
                        <div class="input-box" id ="submitbutton">
                            <input type="submit" class="submit" value="Login">
                        </div>
                        {% comment %} <div class="top">
                            <span>Don't have an account? <a href="{% url 'signup2' %}" onclick="register()">Sign Up</a></span>
                        </div> {% endcomment %}
                    </form>
                </div>
            </div>
            <div class="buttom">
            </div>
        </div>
    </div>

    {% if errors %}
        <div class="error-section" style="display: block;">
            <div class="message">
                <p>{{ errors }}</p>
                <button class="buttonClass" onclick="closebutton()">Okay</button>
            </div>
        </div>
    {% endif %}

        <script>
            function togglePasswordVisibility() {
                var passwordInput = document.getElementById("password");
                var toggleButton = document.querySelector(".toggle-password");
                
                if (passwordInput.type === "password") {
                    passwordInput.type = "text";
                    toggleButton.textContent = "Hide";
                } else {
                    passwordInput.type = "password";
                    toggleButton.textContent = "Show";
                }
            }

            function closebutton() {
                    const shareSectionFile = document.querySelector('.error-section');
                    if (shareSectionFile.style.display === 'none') {
                        shareSectionFile.style.display = 'block';
                    } else {
                        shareSectionFile.style.display = 'none';
                    }
                };


        </script>

</body>
</html>