{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'bsudashboard.css' %}">
    <title>BatStateU Drive</title>
</head>
<body>
    
    <div class="container">
        <div class="leftsection">
            <div class="leftsectionupper">
                <img src="{% static 'logo.jpg' %}" alt="logo">
                <h2>BatStateU</h2>
            </div>
            <div class="options">
                <div class="add">
                    <button onclick="toggleUploadButtons()"><i class='bx bx-plus' ></i>Add New</button>
                </div>
                <div class="upload-buttons">
                    <form method="POST" enctype="multipart/form-data" id="file-upload-form" action="{% url 'handle_file_upload' %}">
                        {% csrf_token %}
                        <input type="file" name="file" id="file" multiple style="display: none;">
                        <input type="hidden" id="current_directory_input_file_upload" name="current_directory" value="{{ current_directory }}">
                        <button class="buttonClass" type="button" onclick="uploadFile()">Upload Files</button>
                    </form>
                </div>
                <div class="optionfolders">
                    <a href=" {% url 'dashboard' %} "><i class='bx bxs-folder-open'></i>My Drive</a>
                    <a href=" {% url 'share_files_section' %}"><i class='bx bxs-user-plus'></i>Shared Files</a>
                </div>
            </div>
            
        </div>
        <div class="rightsection">
            <header>
                <div class="searchsection">
                    <form method="GET" action="{% url 'search' %}">
                        <input class="searchinput" type="text" name="query" placeholder="Search in TNEU Drive..." value="{{ query }}">
                        <button type="submit"><i class='bx bx-search'></i></button>
                    </form>
                    <div class="searchsection-profile">
                        <form action="{% url 'logout' %}" method="post">
                            {% csrf_token %}
                            <button type="submit">Logout</button>
                        </form>
                    </div>
                </div>
            </header>
            <div class="download-section">
                {% block content  %}
                {% endblock %}
            </div>
        </div>
    </div>



    <script>
        function updateCurrentDirectory(directory) {
            document.getElementById('current_directory_input').value = directory;
            document.getElementById('current_directory_input_file_upload').value = directory;
        }

        var viewFolderButtons = document.querySelectorAll('.view-folder-btn');
        viewFolderButtons.forEach(function(button) {
            button.addEventListener('click', function() {
                var folderName = this.dataset.folderName;
                var currentDirectory = document.getElementById('current_directory_input').value;
                var updatedDirectory = currentDirectory ? currentDirectory + '/' + folderName : folderName;
                updateCurrentDirectory(updatedDirectory);
            });
        });

        function uploadFolder() {
            document.getElementById('file').webkitdirectory = true;
            document.getElementById('file').directory = true;
            document.getElementById('file').multiple  = true;
            document.getElementById('file').mozdirectory = true;
            document.getElementById('file').click();
        }

        function uploadFile() {
            document.getElementById('file').webkitdirectory = false;
            document.getElementById('file').directory = false;
            document.getElementById('file').multiple  = true;
            document.getElementById('file').mozdirectory = false;
            document.getElementById('file').click();
        }

        document.getElementById('file').addEventListener('change', function() {
            document.getElementById('upload-form').submit();
        });

        document.getElementById('file').addEventListener('change', function() {
            document.getElementById('file-upload-form').submit();
        });

        function toggleUploadButtons() {
            var uploadButtons = document.querySelector('.upload-buttons');
            
            if (uploadButtons.style.display === "none") {
                uploadButtons.style.display = "block";
                
            } else {
                uploadButtons.style.display = "none";
                
            }
        }

        function toggleFolderCreation() {
            var folderSection = document.getElementById("folderCreationSection");
            if (folderSection.style.display === "none" || folderSection.style.display === "") {
                folderSection.style.display = "flex";
            } else {
                folderSection.style.display = "none";
            }
        }
        
    </script>
</body>
</html>