{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href='https://unpkg.com/boxicons@2.1.4/css/boxicons.min.css' rel='stylesheet'>
    <link rel="stylesheet" href="{% static 'signup2.css' %}">
    <link rel="stylesheet" href="{% static 'bsudashboard.css' %}">

    <title></title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">

    <title>BatStateU | Login</title>
</head>
<body>
    <div class="container">
        <div class="leftsection">
            <div class="leftsectionupper">
                <img src="{% static 'logo.jpg' %}" alt="logo">
                <h2>BatStateU</h2>
            </div>
            <div class="options">
                <div class="add">
                </div>
                <div class="optionfolders">
                    <a href="{% url 'addaccount' %}"><i class="bx bxs-user"></i>Add User</a>
                    <a href="{% url 'admindashboard' %}"><i class='bx bxs-lock-open'></i>Manage Account</a>
                    <br>
                    <a href="{% url 'disk_usage_view' %}"><i class='bx bxs-hdd'></i>Available Storage</a>
                </div>
                <div class="optionfolders">
                    <a href="{% url 'trackfiledetails' %}"><i class='bx bxs-file-blank'></i>Track File Details</a>
                    <br>
                    <a href="{% url 'tracksharefiles' %}"><i class='bx bxs-file-blank'></i>Track Shared Files</a>
                </div>
                <div class = "optionfolders">
                    <form action="{% url 'logout' %}" method="post">
                        {% csrf_token %}
                        <button type="submit" class="buttonClass" id = "logoutbutton">Logout</button>
                    </form>
                </div>
            </div>
            
        </div>
        <div class="rightsection">
            {% comment %} <header>
                <div class="searchsection">
                    <form method="GET" action="{% url 'search' %}">
                        <input class="searchinput" type="text" name="query" placeholder="Search in TNEU Drive..." value="{{ query }}">
                        <button type="submit"><i class='bx bx-search'></i></button>
                    </form>
                    <div class="searchsection-profile">
                        <form action="{% url 'logout' %}" method="post">
                            {% csrf_token %}
                            <button type="submit">Logout</button>
                        </form>
                    </div>
                </div>
            </header> {% endcomment %}
            <div class="manageaccount">
                {% block content  %}
                {% endblock %}
            </div>
        </div>
    </div>
</body>
</html>