        {% load static %}

    <!DOCTYPE html>
    <html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <link rel="stylesheet" href="{% static 'dashboard.css' %}">
        <title>BatStateU | Dashboard</title>
    </head>
    <body>
        <header>
            <h1>Welcome, {{ username }}</h1>
            {% if current_directory %}
                <p>Current Directory: {{ current_directory }}</p>
            {% endif %}
            <form method="GET" action="{% url 'search' %}">
                <input type="hidden" name="current_directory" value="{{ current_directory }}">
                <input type="text" name="query" placeholder="Search in TNEU Drive..." value="{{ query }}">
                <button type="submit">Search</button>
            </form>
        </header>
        <!-- Upload Button -->
        
        <div class="section">
            
            <div class="upload-section">
                <div class="toggle-upload-buttons">
                    <button onclick="toggleUploadButtons()">New</button>
                    {% comment %} <h1>HELLO WORLD</h1> {% endcomment %}
                </div>
                <div class = "foldercreation">
                    <h1>HELLO WORLD</h1>
                </div>
                <div class="upload-buttons">
                    <form method="POST" enctype="multipart/form-data" id="upload-form" action="{% url 'handle_create_folder' %}">
                        {% csrf_token %}
                        <input type="text" name="folder_name" placeholder="Enter folder name" required>
                        <input type="hidden" id="current_directory_input" name="current_directory" value="{{ current_directory }}">
                        <h1>{{ current_directory }}</h1>
                        <button class="buttonClass" type="submit">Create Folder</button>
                    </form>
                    <form method="POST" enctype="multipart/form-data" id="file-upload-form" action="{% url 'handle_file_upload' %}">
                        {% csrf_token %}
                        <input type="file" name="file" id="file" multiple style="display: none;">
                        {% comment %} <input type="hidden" id="current_directory_input" name="current_directory" value="{{ current_directory }}"> {% endcomment %}
                        <input type="hidden" id="current_directory_input_file_upload" name="current_directory" value="{{ current_directory }}">
                        <button class="buttonClass" type="button" onclick="uploadFile()">Upload Files</button>
                    </form>
                    <form method="POST" enctype="multipart/form-data" id="upload-form" action="{% url 'handle_folder_upload' %}">
                        {% csrf_token %}
                        <input type="file" name="file" id="file" multiple style="display: none;">
                        <button class="buttonClass" type="button" onclick="uploadFolder()">Upload Folder</button>
                    </form>
                </div>
            </div>
            <div class="download-section">
                <h1>12312</h1>
                {% block content  %}
                {% endblock %}
            </div>
        </div>

        {% comment %} <div class="account-section">
            <h1>{{ username }}</h1>
            {% block account_content %}
            {% endblock %}
        </div> {% endcomment %}

        
        <script>
            // Function to update current directory value
            function updateCurrentDirectory(directory) {
                document.getElementById('current_directory_input').value = directory;
                document.getElementById('current_directory_input_file_upload').value = directory;
            }
        
            // Attach event listener to "View Folder" buttons
            var viewFolderButtons = document.querySelectorAll('.view-folder-btn');
            viewFolderButtons.forEach(function(button) {
                button.addEventListener('click', function() {
                    var folderName = this.dataset.folderName; // Get folder name from data attribute
                    var currentDirectory = document.getElementById('current_directory_input').value; // Get current directory value
                    var updatedDirectory = currentDirectory ? currentDirectory + '/' + folderName : folderName; // Update current directory value
                    updateCurrentDirectory(updatedDirectory);
                });
            });

            function uploadFolder() {
                document.getElementById('file').webkitdirectory = true;
                document.getElementById('file').directory = true;
                document.getElementById('file').multiple  = true;
                document.getElementById('file').mozdirectory = true;
                document.getElementById('file').click();
            }

            function uploadFile() {
                document.getElementById('file').webkitdirectory = false;
                document.getElementById('file').directory = false;
                document.getElementById('file').multiple  = true;
                document.getElementById('file').mozdirectory = false;
                document.getElementById('file').click();
            }

            document.getElementById('file').addEventListener('change', function() {
                document.getElementById('upload-form').submit();
            });

            document.getElementById('file').addEventListener('change', function() {
                document.getElementById('file-upload-form').submit();
            });

            function toggleUploadButtons() {
                var uploadButtons = document.querySelector('.upload-buttons');
                var foldercreationbutton = document.querySelector('.foldercreation');
                if (uploadButtons.style.display === "none" || foldercreationbutton.style.display === "none") {
                    uploadButtons.style.display = "block";
                    foldercreationbutton.style.display = "block";
                } else {
                    uploadButtons.style.display = "none";
                    foldercreationbutton.style.display = "none";
                }
            }
            
        </script>
    </body>
    </html>
