{% extends 'basedashboard.html' %}

{% block content %}
    
    <h2>Uploaded Files:</h2>
    {% if current_directory %}
        <p style="color: red;">Current Directory: {{ current_directory }}</p>
    {% endif %}

    <ul>
        <!-- Inside the block content -->
        {% for file_info in uploaded_files %}
            <li>
                {% if file_info.is_dir %}
                    <span>{{ file_info.name }}</span>
                    <!-- Add view folder link with current directory path -->
                    <a href="{% url 'view_folder' folder_path=file_info.full_path %}">View Folder</a>
                {% else %}
                    <span>{{ file_info.name }}</span>
                    <!-- Add download link -->
                    {% comment %} <a href="{% url 'download_file' file_name=file_info.name  %}">Download</a> {% endcomment %}
                    {% comment %} <input type="hidden" name="current_directory" value="{{ file_info.full_path }}">
                    <a href="{% url 'download_file' file_name=file_info.name %}">Download</a> {% endcomment %}
                    <span>{{ file_info.name }}</span>
                    <!-- Add download link -->
                    <input type="hidden" name="current_directory" value="{{ current_directory }}">
                    <a href="#" class="download-link" data-file="{{ file_info.name }}">Download</a>
                    <script>
                        document.querySelectorAll('.download-link').forEach(link => {
                            link.addEventListener('click', function(event) {
                                event.preventDefault();
                                const fileName = this.dataset.file;
                                const currentDirectory = this.previousElementSibling.value;
                                const downloadUrl = `/download/${fileName}/?current_directory=${currentDirectory}`;
                                window.location.href = downloadUrl;
                            });
                        });
                    </script>
                {% endif %}
                <!-- Add delete button -->
                <form method="post" action="{% url 'delete_item' %}">
                    {% csrf_token %}
                    <input type="hidden" name="item_name" value="{{ file_info.name }}">
                    <input type="hidden" name="item_path" value="{{ file_info.full_path }}">
                    <button type="submit">Delete</button>
                </form>
            </li>
        {% endfor %}


    </ul>

    <!-- Back button to return to the previous display -->
    <form method="get" action="{% if parent_directory %}{% url 'view_folder' folder_path=parent_directory %}{% else %}{% url 'dashboard' %}{% endif %}">
    
        <button type="submit">Back</button>
    </form>
    
{% endblock %}
