{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'dashboard.css' %}">
    <title>BatStateU | Dashboard</title>
</head>
<body>
    <header>
        <h1>Welcome, {{ username }}</h1>
    </header>
    <!-- Upload Button -->
    
<div class="section">
    <div class="upload-section">
        <div class="toggle-upload-buttons">
            <button onclick="toggleUploadButtons()">New</button>
            {% comment %} <h1>HELLO WORLD</h1> {% endcomment %}
        </div>
        <div class="upload-buttons">
            <form method="POST" enctype="multipart/form-data" id="upload-form" action="{% url 'handle_upload' %}">
                {% csrf_token %}
                <button class="buttonClass" type="button" onclick="createFolder()">Create Folder</button>
                <input type="file" name="file" id="file" multiple style="display: none;">
                {% comment %} <label for="file" id="file-label">Choose File(s)</label> {% endcomment %}
                <button class="buttonClass" type="button" onclick="uploadFile();">Upload Files</button>
                <button class="buttonClass" type="button" onclick="uploadFolder()">Upload Folder</button>
            </form>
            {% comment %} document.getElementById('file').click(); {% endcomment %}
            {% comment %} document.getElementById('upload-form').submit(); {% endcomment %}
            <script>
                function uploadFolder() {
                    document.getElementById('file').webkitdirectory = true;
                    document.getElementById('file').directory = true;
                   
                }

                function uploadFile() {
                    document.getElementById('file').webkitdirectory = false;
                    document.getElementById('file').directory = false;
                    document.getElementById('file').click();
                    
                    
                }

                document.getElementById('file').addEventListener('change', function() {
                    document.getElementById('upload-form').submit();
                });

                function toggleUploadButtons() {
                    var uploadButtons = document.querySelector('.upload-buttons');
                    if (uploadButtons.style.display === "none") {
                        uploadButtons.style.display = "block";
                    } else {
                        uploadButtons.style.display = "none";
                    }
                }
            </script>
        </div>
    </div>
    <div class="download-section">
        <h2>Uploaded Files:</h2>
        <ul>
            {% comment %} {% for file in uploaded_files %}
                <li><a href="{{ file.url }}" download>{{ file.name }}</a></li>
            {% endfor %} {% endcomment %}
            {% comment %} {% for file_name in uploaded_files %}
                {% with file_path="D:/uploadedfiles/"|add:file_name %}
                    <li><a href="{{ file_path }}" download>{{ file_name }}</a></li>
                {% endwith %}
        {% endfor %} {% endcomment %}

        {% for file_name in uploaded_files %}
            <li><a href="{% url 'download_file' file_name=file_name %}" download>{{ file_name }}</a></li>
        {% endfor %}

    </div>
    </div>

</body>
</html>
