{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'dashboard.css' %}">
    <title>BatStateU | Dashboard</title>
</head>
<body>
    <header>
        <h1>Welcome, {{ username }}</h1>
    </header>
    <!-- Upload Button -->
    
    <div class="section">
        <div class="upload-section">
            <div class="toggle-upload-buttons">
                <button onclick="toggleUploadButtons()">New</button>
                {% comment %} <h1>HELLO WORLD</h1> {% endcomment %}
            </div>
            <div class="upload-buttons">
                {% comment %} <form method="POST" enctype="multipart/form-data" id="upload-form" action="{% url 'handle_upload' %}">
                    {% csrf_token %}
                    <button class="buttonClass" type="button" onclick="createFolder()">Create Folder</button>
                    <input type="file" name="file" id="file" multiple style="display: none;">
                    <button class="buttonClass" type="button" onclick="uploadFiles()">Upload Files</button>
                    <button class="buttonClass" type="button" onclick="uploadFolder()">Upload Folder</button>
                </form> {% endcomment %}
                {% comment %} document.getElementById('file').click(); {% endcomment %}
                {% comment %} document.getElementById('upload-form').submit(); {% endcomment %}

                
                <form method="POST" enctype="multipart/form-data" id="upload-form" action="{% url 'handle_create_folder' %}">
                    {% csrf_token %}
                    <button class="buttonClass" type="button" onclick="createFolder()">Create Folder</button>
                </form> 
                <form method="POST" enctype="multipart/form-data" id="upload-form" action="{% url 'handle_file_upload' %}">
                    {% csrf_token %}
                    <input type="file" name="file" id="file" multiple style="display: none;">
                    <button class="buttonClass" type="button" onclick="uploadFile()">Upload Files</button>
                </form>
                <form method="POST" enctype="multipart/form-data" id="upload-form" action="{% url 'handle_folder_upload' %}">
                    {% csrf_token %}
                    <input type="file" name="file" id="file" multiple style="display: none;">
                    <button class="buttonClass" type="button" onclick="uploadFolder()">Upload Folder</button>
                </form>

                <script>
                    function uploadFolder() {
                        document.getElementById('file').webkitdirectory = true;
                        document.getElementById('file').directory = true;
                        document.getElementById('file').multiple  = true;
                        document.getElementById('file').mozdirectory = true;
                        document.getElementById('file').click();
                    }

                    function uploadFile() {
                        document.getElementById('file').webkitdirectory = false;
                        document.getElementById('file').directory = false;
                        document.getElementById('file').multiple  = true;
                        document.getElementById('file').mozdirectory = false;
                        document.getElementById('file').click();
                        
                        
                    }

                    document.getElementById('file').addEventListener('change', function() {
                        document.getElementById('upload-form').submit();
                    });

                    function toggleUploadButtons() {
                        var uploadButtons = document.querySelector('.upload-buttons');
                        if (uploadButtons.style.display === "none") {
                            uploadButtons.style.display = "block";
                        } else {
                            uploadButtons.style.display = "none";
                        }
                    }
                    
                </script>
            </div>
        </div>
        <div class="download-section">
            <h2>Uploaded Files:</h2>
            <ul>
                {% for file_info in uploaded_files %}
                    <li>
                        {% if file_info.is_dir %}
                            <span>{{ file_info.name }}</span>
                            <!-- Add view folder button or any other action for folders -->
                            <form method="get" action="{% url 'download_file' file_name=file_info.name %}">
                                <button type="submit">View Folder</button>
                            </form>
                        {% else %}
                            <span>{{ file_info.name }}</span>
                            <form method="get" action="{% url 'download_file' file_name=file_info.name %}">
                                <button type="submit">Download</button>
                            </form>
                        {% endif %}
                        <!-- Add delete button -->
                        <form method="post" action="{% url 'delete_item' %}">
                            {% csrf_token %}
                            <input type="hidden" name="item_name" value="{{ file_info.name }}">
                            <button type="submit">Delete</button>
                        </form>
                    </li>
                {% endfor %}
            </ul>

        </div>
    </div>

</body>
</html>
