{% extends 'basedashboard.html' %}

{% block content %}


    <div class="filefolderheader">
        <h2>My Drive</h2>
        {% if current_directory %}
        {% endif %}
        <form method="get" action="{% url 'dashboard' %}">
            <button type="submit"><i class='bx bx-left-arrow-alt'></i>Back</button>
        </form>
    </div>

    <div class="files-folders-folders">
        <div class="listfilename">
            <span>Name</span>
        </div>
        <div class="listfilefunctions">
            <span>Date</span>
        </div>
        <div class="listfilefunctions">
            <span>Size</span>
        </div>
        <div class="listfilefunctions">
            <span></span>
        </div>
        <div class="listfilefunctions">
            <span></span>
        </div>
        <div class="listfilefunctions">
            <span></span>
        </div>
        <div class="listfilefunctions">
            <span></span>
        </div>
    </div>

    <ul>
        {% if uploaded_files %}
            {% for file_info in uploaded_files %}
                <li class="listdirxfile">
                    <div class="filesfolders">
                        <div class="files-folders-folders">
                            <div class="listfilename">
                                <span><i class='bx bxs-file-blank' ></i>{{ file_info.filename }}{{ file_info.extension }}</span>
                            </div>
                            <div class="listfilefunctions">
                                <span>{{ file_info.upload_date }}</span>
                            </div>
                            <div class="listfilefunctions">
                                <span>{{ file_info.size }}</span>
                            </div>
                            <div class="listfilefunctions">
                                <form id="download-file-form" method="POST" action="{% url 'download_file' %}">
                                    {% csrf_token %}
                                    <input type="hidden" id="item-key-name" name="itemid" value="{{ file_info.key }}">
                                    <input type="hidden" id="item-download-name" name="itemid" value="{{ file_info.fileid }}">
                                    <button type="submit"><i class='bx bxs-download'></i>Download</button>
                                </form>
                            </div>
                            <div class="listfilefunctions">
                                <form method="post" action="{% url 'delete_item' %}">
                                    {% csrf_token %}
                                    <input type="hidden" id="item-delete-name" name="itemid" value="{{ file_info.fileid }}">
                                    <button type="submit"><i class='bx bxs-trash-alt' ></i>Delete</button>
                                </form>
                            </div>
                            <div class="listfilefunctions">
                                <input type="hidden" id="item-share-name" name="itemid" value="{{ file_info.fileid }}">
                                <button class="share-btn-file" data-item="{{ file_info.name }}" data-is-dir="false"><i class='bx bx-share-alt' ></i>Share</button>
                            </div>
                        </div>
                    </div>
                </li>
            {% endfor %}
        {% endif %}
    </ul>


    <div class="share-file-section" style="display: none;">
        <form id="share-file-form" method="POST" action="{% url 'share_file' %}">
            {% csrf_token %}
            <input type="hidden" id="item-share-id" name="itemid">
            <input type="hidden" id="item-share-name" name="item_name">
            <input type="hidden" name="current_directory" value="{{ current_directory }}">
            <input type="hidden" id="share-item-name" name="item_path">
            <input type="text" id="share-email" name="email" placeholder="Enter Email...">
            <button class="buttonClassShare" type="submit">Share</button>
        </form>
    </div>

    {% if errors %}
        <div class="error-section" style="display: block;">
            <div class="message">
                <p>{{ errors }}</p>
                <button class="buttonClass" onclick="closebutton()">Okay</button>
            </div>
        </div>
    {% endif %}

    <script>

    
        document.querySelectorAll('.share-btn-file').forEach(btn => {
            btn.addEventListener('click', function() {
                const itemPathElement = this.closest('.filesfolders').querySelector('[name="item_path"]');
                const itemPath = itemPathElement ? itemPathElement.value : null;
                const itemName = this.dataset.item;
                console.log("Item Name:", itemName);
                const itemId = this.closest('.listfilefunctions').querySelector('[name="itemid"]').value;
    
                const shareSectionFile = document.querySelector('.share-file-section');
                if (shareSectionFile.style.display === 'none' || shareSectionFile.querySelector('#share-item-name').value !== itemPath) {
                    shareSectionFile.style.display = 'block';
                    shareSectionFile.querySelector('#share-item-name').value = itemPath;
                    shareSectionFile.querySelector('#item-share-name').value = itemName;
                    shareSectionFile.querySelector('#item-share-id').value = itemId;
                } else {
                    shareSectionFile.style.display = 'none';
                }
            });
        });

        function closebutton() {
            const shareSectionFile = document.querySelector('.error-section');
            if (shareSectionFile.style.display === 'none') {
                shareSectionFile.style.display = 'block';
            } else {
                shareSectionFile.style.display = 'none';
            }
        };
    </script>
    
{% endblock %}
