{% extends 'baseadmin.html' %}

{% block content %}

<style>
    
</style>

<body>
<div class="disk-container">
    <p>Drives Usage: </p>
    {% for disk in disk_usage_percentage %}

        <div class="disk-bar">
            <div class="disk-progress" style="width: {{ disk.disk_percentage }}%;">{{ disk.disk_percentage }}%</div>
        </div>
        <div class="usedxtotal">
            <p>{{ disk.disk_used }}GB</p>
            <p>{{ disk.disk_total }}GB</p>
        </div>

    {% endfor %}
</div>


</body>
{% endblock %}


