{% extends 'basedashboard.html' %}

{% block content %}

    {% comment %} {% if search_results %}
        <h2>Search Results:</h2>
        <ul>
            <!-- Display search results -->
            {% for result in search_results %}
                <li>{{ result.filename }}</li> <!-- Modify this according to your model fields -->
            {% endfor %}
        </ul>
    {% else %}
        <p>No results found.</p>
    {% endif %} {% endcomment %}
<div class="filefolderheader">
    {% if search_results %}
        <h2>Search Results:</h2>
        <!-- Back button to return to the previous display -->
        <form method="get" action="{% if parent_directory %}{% url 'view_folder' folder_path=parent_directory %}{% else %}{% url 'dashboard' %}{% endif %}">
            <button type="submit">Back</button>
        </form>
    </div>

    <div class="files-folders-folders">
        <div class="listfilename">
            <span>Name</span>
        </div>
        <div class="listfilefunctions">
            <span>Date</span>
        </div>
        <div class="listfilefunctions">
            <span>Size</span>
        </div>
        <div class="listfilefunctions">
            <span></span>
        </div>
        <div class="listfilefunctions">
            <span></span>
        </div>
        <div class="listfilefunctions">
            <span></span>
        </div>
        <div class="listfilefunctions">
            <span></span>
        </div>
    </div>

        <ul>
            <!-- Display search results -->
            {% for result in search_results %}
                <li class="listdirxfile">
                    <div class="filesfolders">
                        <div class="files-folders-folders">
                            <div class="listfilename">
                                <span><i class='bx bxs-file-blank' ></i>{{ result.filename }}{{result.extension}}</span>
                            </div>
                            <div class="listfilefunctions">
                                <span>{{ result.upload_date }}</span>
                            </div>
                            <div class="listfilefunctions">
                                <span>{{ result.size }}</span>
                            </div>
                            <!-- Add download link -->
                            <div class="listfilefunctions">
                                <form id="download-file-form" method="POST" action="{% url 'download_file' %}">
                                    {% csrf_token %}
                                    <input type="hidden" id="item-key-name" name="itemid" value="{{ file_info.key }}">
                                    <input type="hidden" id="item-download-name" name="itemid" value="{{ result.file_id }}">
                                    <button type="submit"><i class='bx bxs-download'></i>Download</button>
                                </form>
                            </div>

                            <div class="listfilefunctions">
                                <!-- Add rename button -->
                                <button class="rename-btn-file" data-item="{{ result.filename }}{{result.extension}}" data-is-dir="false">Rename</button>
                            </div>
                                <!-- Add delete button -->
                                <div class="listfilefunctions">
                                    <form method="post" action="{% url 'delete_item' %}">
                                        {% csrf_token %}
                                        <input type="hidden" id="item-delete-name" name="itemid" value="{{ file_info.fileid }}">
                                        <button type="submit"><i class='bx bxs-trash-alt' ></i>Delete</button>
                                    </form>
                                </div>
                                <div class="listfilefunctions">
                                    <input type="hidden" id="item-share-name" name="itemid" value="{{ file_info.fileid }}">
                                    <button class="share-btn-file" data-item="{{ file_info.name }}" data-is-dir="false"><i class='bx bx-share-alt' ></i>Share</button>
                                </div>
                        </div>
                    </div>
                </li>
            {% endfor %}
        </ul>
    {% else %}
        {% comment %} <p>No results found.</p> {% endcomment %}
        <div class="listfilename">
            <span>No results found.</span>
        </div>
        <form method="get" action="{% if parent_directory %}{% url 'view_folder' folder_path=parent_directory %}{% else %}{% url 'dashboard' %}{% endif %}">
            <button type="submit">Back</button>
        </form>
    {% endif %}
        
    


    <!-- Floating section for renaming file -->
    <div class="rename-section-file" style="display: none;">
        <form id="rename-form-file" method="POST" action="{% url 'rename_file' %}">
            {% csrf_token %}
            <input type="hidden" name="current_directory" value="{{ current_directory }}">
            <input type="hidden" id="rename-item-name-file" name="item_path">
            <input type="text" id="new-name-file" name="new_name" placeholder="Enter new file name">
            <button type="submit">Rename File</button>
        </form>
    </div>

    <div class="share-file-section" style="display: none;">
        <form id="share-file-form" method="POST" action="{% url 'share_file' %}">
            {% csrf_token %}
            <input type="hidden" id="item-share-id" name="itemid">
            <input type="hidden" id="item-share-name" name="item_name">
            <input type="hidden" name="current_directory" value="{{ current_directory }}">
            <input type="hidden" id="share-item-name" name="item_path">
            <input type="text" id="share-email" name="email" placeholder="Enter Email...">
            <button class="buttonClassShare" type="submit">Share</button>
        </form>
    </div>

    <!-- JavaScript to handle renaming for file -->
    <script>
        document.querySelectorAll('.download-link').forEach(link => {
            link.addEventListener('click', function(event) {
                event.preventDefault();
                const fileName = this.dataset.file;
                const currentDirectory = this.previousElementSibling.value;
                const downloadUrl = `/download/${fileName}/?current_directory=${currentDirectory}`;
                window.location.href = downloadUrl;
            });
        });
    </script>
    <script>
        // Toggle rename form for file
        {% comment %} document.querySelectorAll('.rename-btn-file').forEach(btn => {
            btn.addEventListener('click', function() {
                const itemName = this.dataset.item;
                const itemPath = this.parentElement.querySelector('[name="item_path"]').value;
                console.log(itemPath);
                const renameSectionFile = document.querySelector('.rename-section-file');
                if (renameSectionFile.style.display === 'none' || renameSectionFile.querySelector('#rename-item-name-file').value !== itemPath) {
                    renameSectionFile.style.display = 'block';
                    renameSectionFile.querySelector('#rename-item-name-file').value = itemPath;
                    renameSectionFile.querySelector('#new-name-file').value = itemName;
                } else {
                    renameSectionFile.style.display = 'none';
                }
            });
        }); {% endcomment %}

        // Toggle rename form for file
    document.querySelectorAll('.rename-btn-file').forEach(btn => {
        btn.addEventListener('click', function() {
            const itemName = this.dataset.item;
            const itemPath = this.parentElement.parentElement.querySelector('[name="item_path"]').value;
            console.log(itemPath);
            const renameSectionFile = document.querySelector('.rename-section-file');
            if (renameSectionFile.style.display === 'none' || renameSectionFile.querySelector('#rename-item-name-file').value !== itemPath) {
                // Hide all other sections before showing the current one
                document.querySelectorAll('.rename-section-file').forEach(section => {
                    section.style.display = 'none';
                });
                renameSectionFile.style.display = 'block';
                renameSectionFile.querySelector('#rename-item-name-file').value = itemPath;
                renameSectionFile.querySelector('#new-name-file').value = itemName;
            } else {
                renameSectionFile.style.display = 'none';
            }
        });
    });

    document.querySelectorAll('.share-btn-file').forEach(btn => {
        btn.addEventListener('click', function() {
            const itemPathElement = this.closest('.filesfolders').querySelector('[name="item_path"]');
            const itemPath = itemPathElement ? itemPathElement.value : null;
            const itemName = this.dataset.item;
            console.log("Item Name:", itemName);
            const itemId = this.closest('.listfilefunctions').querySelector('[name="itemid"]').value;

            const shareSectionFile = document.querySelector('.share-file-section');
            if (shareSectionFile.style.display === 'none' || shareSectionFile.querySelector('#share-item-name').value !== itemPath) {
                shareSectionFile.style.display = 'block';
                shareSectionFile.querySelector('#share-item-name').value = itemPath;
                shareSectionFile.querySelector('#item-share-name').value = itemName;
                shareSectionFile.querySelector('#item-share-id').value = itemId;
            } else {
                shareSectionFile.style.display = 'none';
            }
            // Hide rename sections if visible
            document.querySelector('.rename-section-file').style.display = 'none';
            document.querySelector('.rename-section-folder').style.display = 'none';
        });
    });
    </script>

{% endblock %}