{% extends 'basedashboard.html' %}

{% block content %}

    <div class="filefolderheader">
        <h2>Shared Files</h2>
        <form method="get" action="{% if parent_directory %}{% url 'view_folder' folder_path=parent_directory %}{% else %}{% url 'dashboard' %}{% endif %}">
            <button type="submit">Back</button>
        </form>
    </div>
    <div class="files-folders-folders">
        <div class="listfilename">
            <span>Name</span>
        </div>
        <div class="listfilefunctions1">
            <span>Date</span>
        </div>
        <div class="listfilefunctions1">
            <span>Size</span>
        </div>
        <div class="listfilefunctions2">
            <span>Owner</span>
        </div>
        <div class="listfilefunctions1">
            <span></span>
        </div>
    </div>
    <ul>
        {% for files in shared_files %}
            <li class="listdirxfile">
                <div class="filesfolders">
                    <div class="files-folders-folders">
                        <div class="listfilename items">
                            <span><i class='bx bxs-file-blank' ></i>{{ files.filename }}{{files.extension}}</span>
                        </div>
                        <div class="listfilefunctions1 items">
                            <span>{{ files.upload_date }}</span>
                        </div>
                        <div class="listfilefunctions1 items">
                            <span>{{ files.size }}</span>
                        </div>
                        <div class="listfilefunctions2 items">
                            <span>{{files.share_by}}</span>
                        </div>
                        <div class="listfilefunctions1 items">
                            {% csrf_token %}
                            <form id="download-file-form" method="POST" action="{% url 'download_file' %}">
                                {% csrf_token %}
                                <input type="hidden" id="item-key-name" name="itemid" value="{{ file_info.key }}">
                                <input type="hidden" id="item-download-name" name="itemid" value="{{ files.fileid }}">
                                <button type="submit"><i class='bx bxs-download'></i>Download</button>
                            </form>
                        </div>
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>

{% endblock content %}