{% extends 'basedashboard.html' %}

{% block content %}

    <div class="filefolderheader">
        <h2>Shared Files</h2>
        <h2>{{current_directory}}</h2>
    </div>
    <div class="files-folders-folders">
        <div class="listfilename">
            <span>Name</span>
        </div>
        <div class="listfilefunctions1">
            <span>Date</span>
        </div>
        <div class="listfilefunctions1">
            <span>Size</span>
        </div>
        <div class="listfilefunctions2">
            <span>Owner</span>
        </div>
        <div class="listfilefunctions1">
            <span></span>
        </div>
    </div>
    <ul>
        <!-- Display search results -->
        {% for files in shared_files %}
            <li class="listdirxfile">
                <div class="filesfolders">
                    <div class="files-folders-folders">
                        <div class="listfilename">
                            <span><i class='bx bxs-file-blank' ></i>{{ files.filename }}{{files.extension}}</span>
                        </div>
                        <div class="listfilefunctions1">
                            <span>{{ files.upload_date }}</span>
                        </div>
                        <div class="listfilefunctions1">
                            <span>{{ files.size }}</span>
                        </div>
                        <div class="listfilefunctions2">
                            <span>{{files.share_by}}</span>
                        </div>
                        <!-- Add download link -->
                        <div class="listfilefunctions1">
                            {% csrf_token %}
                            <form id="download-file-form" method="POST" action="{% url 'download_file' %}">
                                {% csrf_token %}
                                <input type="hidden" id="item-key-name" name="itemid" value="{{ file_info.key }}">
                                <input type="hidden" id="item-download-name" name="itemid" value="{{ files.fileid }}">
                                <button type="submit"><i class='bx bxs-download'></i>Download</button>
                            </form>
                        </div>
                        

                        {% comment %} <div class="listfilefunctions">
                            
                            <button class="rename-btn-file" data-item="{{ files.filename }}{{files.extension}}" data-is-dir="false">Rename</button>
                        </div>
                            
                        <div class="listfilefunctions">
                            <form method="post" action="{% url 'delete_item_search' %}">
                                {% csrf_token %}
                                <input type="hidden" name="item_name" value="{{ files.filename }}{{files.extension}}">
                                <input type="hidden" name="item_path" value="{{ files.path }}">
                                <button type="submit">Delete</button>
                            </form>
                        </div>
                        <div class="listfilefunctions">
                            <button class="share-btn-file" data-item="{{ file_info.name }}" data-is-dir="false">Share</button>
                        </div> {% endcomment %}
                    </div>
                </div>
            </li>
        {% endfor %}
    </ul>

{% endblock content %}