<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>View Folder</title>
</head>
<body>
    <h1>Folder Contents</h1>
    <ul>
        {% for item in uploaded_items %}
            {% if item.type == 'file' %}
                <li>{{ item.name }} - <a href="{% url 'download_file' file_name=item.name %}">Download</a></li>
            {% elif item.type == 'folder' %}
                <li>{{ item.name }} - <a href="{% url 'view_folder' folder_name=item.name %}">View</a></li>
            {% endif %}
        {% endfor %}
    </ul>
</body>
</html>
